h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

header.page_header {
    /*height: 200px;*/
}

.logo {
    float: left;
    display: block;
}

.logo img {
    height: 12.5em;
}

header.page_header h1 {
    text-align: left;
    height: 3.3em;
    padding-top: 1.2em;
    width: 67.3913%;
    float: left;
    margin-left: 5.4347826%;
}

header.page_header nav {
    text-align: left;
    width: 67.3913%;
    float: left;
    margin-left: 5.4347826%;
}

header.page_header nav ul li {
    padding: 0 20px 0 0;
}

header.page_header nav ul li a {
    font-size: 1em;
}

aside {
    float: right;
    width: 19.736842%;
    margin-left: 0.65789474%;
    font-size: 1.25em;
}

section#main_text {
    float: left;
    width: 82.608696%;
    margin-right: 0.54347826%;
}

section#twitter_output {
    width: 16.847826%;
    float: right;
    background-color: #ADD8E6;
}

section#twitter_output a {
    padding-left: 6.4516129%;
}

section#twitter_output p {
	 padding: 6.4516129%;
}

section#twitter_output h4 {
    padding-left: 6.4516129%;
}