* {
  margin: 0px;
  padding: 0px;
}

body {

  width: 96.842105%;
  margin: 1.5789474%;
  /* Set font size as 100% browser setting. Also specify several fonts so that
     at least one should be supported by all browsers */
  font: 100% "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

#map {
  /* A hack to remove the scrollbar since height adjustments
  in Javascript overfilled by 0.5em */
  margin: -0.5em 0 0 0;
  padding: 0 0 0 0;
}

/* Needed to switch off jQMs padding for this page */
#map .ui-content {
  padding: 0;
}

.indexPos {
  padding-top: 3.4em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.08em;
}

p {
  margin: 0 0 1.3em 0;
}

p, li {
  line-height: 1.3em;
}


/*
header.page_header {
    background-color: #ADD8E6;
}
*/

header.page_header h1 {
  padding-bottom: 0.8em;
  padding-top: 0.8em;
  text-align: center;
}

.logo {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 27.17391%;
}

.logo img {
  max-width: 100%;
  opacity: 0.7;
  filter: alpha(opacity = 70); /* <=IE8  */
}
/*
header.page_header nav {
    text-align: center;
}

header.page_header nav ul {
    list-style: none;
}

header.page_header nav ul li {
    padding-right: 5px;
    display: inline;
}

header.page_header nav ul li a {
    font-size: 0.9em;
}*/

section#twitter_output {
  background-color: #ADD8E6;
}

section#twitter_output a {
  padding-left: 1.0869565%;
  background-color: #6495ed;
  color: white;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

section#twitter_output p {
  padding: 1.0869565%;
  margin: 0;
  border-bottom-style: solid;
  border-bottom-color: #6495ed;
  border-bottom-width: 1px;
}

section#twitter_output h4 {
  margin-left: 1.0869565%;
  margin-bottom: 5px;
  text-decoration: underline;
}

aside {
  font-size: 1.25em;
}

/*
List formatting
*/
.session-list-item h3 {
  float: left;
  margin-top: 1.25em;
  font-size: 0.8em;
  width: 65%;
  margin-right: 5%;
}

.session-list-item h6 {
  font-size: 0.65em;
}

.session-list-item div {
  float: right;
  width: 30%;
}
